<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter Assignment</title>
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/mycss.css') }} " />
</head>
<body>
    <h1>Counter</h1>
    <h2 class="pad bg-blue">{{ session["counter"] }}</h2>
    <div id="wrapper" class="marg">
        <a href="/" class="pad marg-side">Click</a>
        <a href="/destroy_session" class="pad marg-side">Reset</a>
    </div>
</body>
</html>